* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    border: 1px solid red;
}

body {
    background-image: url(../assets/img/bgadmin.jpg);
    background-size: cover;
    background-position-y: 80%;
}

header .judul {
    display: flex;
    justify-content: space-between;
}

header .judul {
    background-color: #9AA6B2;
}

header .judul h1 {
    text-align: left;
    font-size: 32px;
    padding: 35px;
    font-weight:600;
}

header .judul img {
    width: 69px;
    clip-path: circle(30%);
    object-fit: cover;
}

header nav.list-navbar {
    display: flex;
    font-size: 20px;
}

header nav.list-navbar ul {
    list-style: none;
    text-align: center;
}

header nav.list-navbar ul li {
    padding: 30px 0;
}

header nav.list-navbar ul li a{
    text-decoration: none;
    color: black;
}

header nav.list-navbar ul li:hover {
    font-weight: 700;
}

header nav.list-navbar ul li a:hover {
    color: white;
}

header nav.list-navbar ul li.ganjil {
    background-color: #D9EAFD;
}

header nav.list-navbar ul li.genap {
    background-color: #BCCCDC;
}

header nav.list-navbar ul li.bg {
    padding: 0;
}

header nav.list-navbar ul li.bg img {
    width: 399px;
    height: 299px;
    object-fit: cover;
    filter: brightness(50%);
}


